<%#
    Renderiza uma estrela.
    Caso algum usuário estiver logado, a estrela é clicável para o voto. Caso contrário a estrela é apenas mostrada.

    Variáveis locais:
    index: indica o número ordenal da estrela.
    type: indica o tipo de estrela (lightgray, gray ou blue).
  %>
<li class="oer-star">
  <%= link_to "#{index+1}", content_rate_path(@content, rating: index+1), method: "post", remote: true, class: "icon-star-full-" + type + "_16_18 show text-replacement", "data-star-color" => type %>
</li>
