$("body").append('<div class="system-message message-success"><span data-dismiss="alert" class="message-close">×</span><p>Seu link foi adicionado a lista da Disciplina</p></div>');
$(".button-success").remove();
$(".system-message").delay(3000).fadeOut(1000, "linear");
