<h2 class="title">Meus links</h2>
</br>
<ul class="tabs">
  <li class="tab tab-active">
    <a class="tab-title icon-profile-lightblue_16_18-before" href="#" title="Meus links">Meus links</a>
    <span class="tab-sub-title legend">Todos seus links</span>
  </li>
  <li class="tab">
    <a class="tab-title icon-space-lightblue_16_18-before" href="#" title="Disciplina">Disciplina</a>
  </li>
  <li class="tab">
    <a class="tab-title icon-file-lightblue_16_18-before" href="#" title="Adicionar link">Adicionar link</a>
  </li>
</ul>