<div class="pagination">
  <a href="#" class="button-default" title="1">1</a>
  <a href="#" class="button-default" title="2">2</a>
  <a href="#" class="button-default" title="3">3</a>
  <a href="#" class="button-default" title="4">4</a>
</div>