<div class="tab-buttons">
  <a href="#" class="tab-button tab-button-active" title="Últimos adicionados">Últimos adicionados</a>
  <a href="#" class="tab-button" title="Melhores avaliados">Melhores avaliados</a>
  <a href="#" class="tab-button" title="Menor tempo">Menor tempo</a>
</div>