/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-redu
 */

@import "compass/css3/images";
 // Mixins do UI-components.
@import "ui-components/mixins";
// Variáveis do UI-components.
@import "ui-components/variables";

form label.error {
  color: $red2;
  font-size: 11px;
}

.center {
  text-align: center;

  > * { display: inline-block; }
}

.time-legend {
  position: relative;
  top: 10px;
  left: -10px;
}

.header-title {
  padding: 20px 20px;
  color: #4DADD6;
}

.content-section {
  padding: 10px 20px;
}

.content-title {
  padding-bottom: 0;
}

.content-title .back {
  margin-bottom: 10px;
}

.content-title h3 {
  clear: left;
  padding-top: 6px;
  padding-right: 20px;
  color: #6D6E6F;
}

.content-rating {
  margin: 0;
  padding-top: 9px;
}

.content-rating li {
  float: left;
  padding-right: 3px;
}

.content-details {
  margin: 0;
}

.content-details li {
  color: #6D6E6F;
  clear: both;
}

.content-details li p {
  width: 600px;
}

.content-details li + li {
  padding-top: 10px;
}

.content-comments {
  color: #B3B3B3;
  h6 { margin-bottom: 10px; }
  .post { margin-bottom: 20px }
  .comment + .comment { margin-top: 5px; }
}

li { list-style-type: none; }

.suggestions {
  .list-mix-inner {
    padding: 10px;
    a { display: block; }
  }
  .button-success { margin-right: 5px; }
}
